streamlit
pdfplumber
plotly
reportlab

opencv-python-headless
deepface

tensorflow==2.16.1
tf-keras

SpeechRecognition
PyAudio

sentence-transformers
torch
transformers

scikit-learn
pandas
numpy
Pillow